@use '../abstracts/variables' as *;

// Header styles
.mainHeader{
    display: flex;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    padding: 20px 32px 16px 32px;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    background-color: $bg-mainblue;
}