@use '../abstracts/variables' as *;


.mainNav{
display: flex;
padding: 10px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
background-color: $navbar-mainBlue;
box-shadow: 0 4px 23.4px 0 rgba(0, 0, 0, 0.25);
    

ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        align-self: stretch;
    }
}